.*~
.idea
*~
node_modules
*node_modules
**node_modules
.buildpath
.metadata
sftp-config.json
*.code-workspace
.vscode
.vstags
.remote-sync.json
.project
.settings
.directory
*.sublime-project
*.sublime-workspace
nbproject
.sync_to
data
config.yml
